<div class="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="http://www.agiratech.com/" target="_blank">Agira</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#/contacts/new">New Contact</a>
          </li>
          <li>
            <a href="#/contacts">Contacts</a>
          </li>
          <li>
            <a href="javascript:void(0);" ng-click="logout()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </div>